.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 3);
    flex-shrink: 0;
    height: 200px;
    border: 2px solid green;

}

.container-shop {
    width: 900px;
    margin: 0 auto;
    background-color: aquamarine;
}