/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: sans-serif;

    /* condizioni per fixed */
    /* padding-top: 110px; */
}

.container {
    max-width: 1390px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header */

header {
    padding: 20px 0;
    background-color: #ff6900;
    box-shadow: 0 1px 3px 0px #777;
    margin-bottom: 60px;

    /* condizioni per fixed */
    /* height: 70px;
    z-index: 2; */

    z-index: 2;


}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    gap: 10px;

}

header ul a {
    color: #ffffff;
    font-weight: bold;
}

header ul a:hover {
    color: #000000;
}

header #logo {
    display: inline-block;
}

header #logo img {
    height: 30px;
}

header .header-menu {
    width: 250px;
}

header .header-menu.user-menu {
    justify-content: flex-end;
}

/* main */

main .products {
    display: flex;

    flex-wrap: wrap;
    gap: 20px
}

main .products>article {
    width: calc((100% - 40px) / 3);
    flex-shrink: 0;
    /* background-color: #ff6900; */

    /* height: 200px; */
    /* border: 2px solid black; */
}


main .products>article .article-images {
    position: relative;
}

main .products>article .article-images .tags {
    position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    gap: 5px;

}

main .products>article .article-images .tags li {
    color: #FFFFFF;
    background-color: #777;
    padding: 7px 10px;
    font-size: 14px;
}


main .products>article .article-images .tags li.green {
    background-color: green;
}

main .products>article .article-images .add-to-wishlist {
    background-color: #FFFFFF;
    padding: 15px;
    position: absolute;
    top: 10px;
    right: 0;

}


/* main .products>article .article-images .hover-image {
    display: none;
  }
  
  main .products>article .article-images:hover .default-image {
    display: none;
  }
  
  main .products>article .article-images:hover .hover-image {
    display: block;
  } */

main .products>article .article-images .default-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
}

main .products>article .article-images .hover-image {
    opacity: 0;
    transition: opacity 0.5s;
}

main .products>article .article-images:hover .default-image {
    opacity: 0;
}

main .products>article .article-images:hover .hover-image {
    opacity: 1;

}




main .products>article .article-info {
    padding: 10px 0;
}

main .products>article .product-brand {
    font-size: 14px
}

main .products>article .product-title {
    text-transform: uppercase;
    font-size: 18px;
    margin: 5px 0;
}

main .products>article .full-price {
    color: red;
}

main .products>article .old-price {
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 15px;
}

.fixed {
    position: fixed;
    /* width: 100%; */
    left: 0;
    right: 0;
    top: 0;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
}